{% extends '../base.html' %}
{% load static %}
{% block body %}
<div class="vw-100 vh-100">
      <div
        style="
          background-image: url(../images/bgImageTop.jpg);
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed;
        "
        class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="w-100 h-100 bg-black bg-opacity-75"></div>
        <div class="position-absolute text-center text-white">
          <h1 class="display-3 display-md-5">Welcome to Lookisimo Salon</h1>
          <p class="fs-5 px-4">
            An oasis for everyone with a chance to relax, unwind and clear your
            mind.
          </p>
          <button class="btn btn-primary btn-lg">Book Now</button>
        </div>
      </div>
    </div>

    <div
      class="vw-100 text-center bg-white"
      style="padding-top: 8rem; padding-bottom: 8rem"
    >
      <h2 class="display-5 fw-bold">About Us</h2>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-5 my-auto">
            <img src={{about.logo.url}} class="w-100" />
          </div>
          <div
            class="col-md-7 d-flex flex-column align-items-center align-items-md-start justify-content-center"
          >
            <h3 class="fs-3 text-start">Why Choose Us</h3>
            <p class="fs-5 text-md-start text-center">
              {{about.description}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="vw-100" style="height: 90vh;">
      <div
        style="
          background-image: url(../images/bgImageMid.jpeg);
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed;
        "
        class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="w-100 h-100 bg-black bg-opacity-75"></div>
        <div class="position-absolute text-center text-white">
        <h2 class="display-5 fw-bold">Gallery</h2>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div
                id="galleryCarousel"
                class="carousel slide mt-5"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="https://via.placeholder.com/1000x500/3c3c3c/ffffff?text=Slide+1"
                      class="d-block w-100"
                      alt="Slide 1"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://via.placeholder.com/1000x500/6e6e6e/000000?text=Slide+2"
                      class="d-block w-100"
                      alt="Slide 2"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://via.placeholder.com/1000x500/c3c3c3/8f0c6d?text=Slide+3"
                      class="d-block w-100"
                      alt="Slide 3"
                    />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#galleryCarousel"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#galleryCarousel"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="vw-100 text-center bg-white text-black"
      style="padding-top: 8rem; padding-bottom: 10rem"
    >
      <h2 class="display-5 fw-bold">Services</h2>
      <div class="container mt-5">
        <div class="row g-4">


          {% for service in service %}
          <div class="col-md-4">
            <div class="card">
              <img src={{service.image.url}} class="card-img-top h-auto" alt="..."/>
              <div class="card-body">
                <h5 class="card-title">{{service.name}}</h5>
                <p class="card-text">
                 {{service.description}}
                </p>
                <a href="#" class="btn btn-primary">View Plans</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="vw-100" style="height: 60vh">
      <div
        style="
          background-image: url(../images/bgImageBottom.jpg);
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed;
        "
        class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="w-100 h-100 bg-black bg-opacity-75"></div>
        <div class="position-absolute text-center text-white">
          <p class="fs-3 px-4">
            "We all need people who will give us feedback. That's how we
            improve"
          </p>
          <button class="btn btn-primary btn-lg">Write your experience</button>
        </div>
      </div>
    </div>
{% endblock body %}