{% extends '../base.html' %}
{% load static %}
{% block body %}

    <div
      class="vw-100 bg-white text-black"
      style="padding-top: 10rem; padding-bottom: 5rem"
    >
      <div class="container">
        <div class="row justify-content-center w-100 g-4">
          {% include '../sidebar.html' %}
          <div class="col-md-8 overflow-scroll" style="height: 700px">
            <div class="card">
              <div class="card-header">Profile - Bhuwan Ghimire</div>
              <div class="card-body">
                <div class="row align-items-center">
                  <div
                    class="col-md-4 p-4 d-flex flex-column gap-4 align-items-center"
                  >
                    <div class="d-flex flex-row justify-content-center w-75">
                      {% if user_obj.profile %}
                                            <input type="image"  src={{user_obj.profile.url}} alt="User" class="rounded-circle img-thumbnail" />
                                        {% else %}
                                            <input type="image" src="{% static 'images/user-placeholder.jpg' %}" alt="User" class="rounded-circle img-thumbnail" />
                                        {% endif %}
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <div class="fw-bold fs-5">{{user_obj}}</div>
                      <div class="text-muted fs-6">{{user.email}}</div>
                    </div>
                    <a href="{% url 'profile-update' user_obj.id %}" class="btn btn-primary w-100">Edit Profile</a>
                  </div>
                  <div class="col-md-8 p-4 d-flex flex-column gap-2">
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <div class="fw-bold fs-5">Name:</div>
                      </div>
                      <div class="col-md-8">{{user_obj.first_name}} {{user_obj.last_name}}</div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <div class="fw-bold fs-5">Email:</div>
                      </div>
                      <div class="col-md-8">{{user_obj.email}}</div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <div class="fw-bold fs-5">Phone:</div>
                      </div>
                      <div class="col-md-8">{{user.phone}}</div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <div class="fw-bold fs-5">Address:</div>
                      </div>
                      <div class="col-md-8">{{user_obj.address}}</div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <div class="fw-bold fs-5">Gender:</div>
                      </div>
                      <div class="col-md-8">{{user_obj.gender}}</div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <div class="fw-bold fs-5">Date Of Birth:</div>
                      </div>
                      <div class="col-md-8">{{user.dob}}</div>
                    </div>
                    <!-- Show this only to staffs -->
                    <!-- Start -->
                    {% if user_obj.user_type.name == "Staff User" or user_obj.user_type.name == "Super User" %}
                    <div class="row">
                      <div class="col-md-4 p-1">
                        <div class="bg-success text-white text-center rounded p-2">
                          <div class="fw-bold">
                            Daily Wage
                          </div>
                          <div>Rs.  {% widthratio user_obj.salary 30 1 %} </div>
                        </div>
                      </div>
                      <div class="col-md-4 p-1">
                        <div class="bg-danger text-white text-center rounded p-2">
                          <div class="fw-bold">
                            Monthly Salary
                          </div>
                          <div>Rs. {{user_obj.salary}}</div>
                        </div>
                      </div>
                      <div class="col-md-4 p-1">
                        <div class="bg-warning text-black text-center rounded p-2">
                          <div class="fw-bold">
                            On Leave ?
                          </div>
                          <div>{{user_obj.on_leave}}</div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    <!-- End -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modals -->
    <!-- Delete Modal -->
    <div
      class="modal fade"
      id="user1Delete"
      tabindex="-1"
      aria-labelledby="user1DeleteLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="user1EditLabel">
              Delete Bhuwan Ghimire
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Do you want to delete Bhuwan Ghimire? He is probably gay.
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>


{% endblock %}