{% extends '../base.html' %}
{% load static %}



{% block body %}
<div class="vw-100 vh-100">
      <div
        style="
          background-image: url(../images/bgImageTop.jpg);
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed;
        "
        class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="w-100 h-100 bg-black bg-opacity-75"></div>
        <div class="position-absolute w-100">
          <div
            class="container bg-white bg-opacity-50 px-5 w-md-100 text-center h-100 py-5 rounded"
            style="width: 85%; min-width: 300px"
          >
            <div class="row justify-center">
              <div class="col-md-6 my-auto d-none d-md-block">
                <img src="{% static 'images/logo.svg' %}" class="w-100" />
              </div>
              <div class="col-md-6 my-auto">
                <h2 class="display-5 fw-bold">Sign Up</h2>
                <form action="{% url 'signup' %}" method="POST">
                                     {% csrf_token %}

                  <div class="text-start my-4" style="height: 360px; overflow-y: auto; overflow-x: hidden">
                    <div class="row">
                      <div class="col-md-6 mb-2">
                        <label for="first_name" class="form-label">First Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="first_name"
                          name="first_name"
                          placeholder="First name"
                          aria-label="First name"
                          required
                        />
                      </div>
                      <div class="col-md-6 mb-2">
                        <label for="last_name" class="form-label"
                          >Last Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="last_name"
                          name="last_name"
                          placeholder="Last name"
                          aria-label="Last name"
                          required
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 mb-2">
                        <label for="email" class="form-label"
                          >Email Address</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name = "email"
                          placeholder="Email Address"
                          aria-label="Email Address"
                          required
                        />
                      </div>

                      <div class="col-md-6 mb-2">
                        <label for="register_as" class="form-label">Register As</label>
                        <select id="register_as" name="role" class="form-select" aria-label="Select Role" required>
                          {% for user in user_type %}
                            <option value={{user.id}}>{{user.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 mb-2">
                        <label for="gender" class="form-label">Gender</label>
                        <select id="gender" name="gender" class="form-select" aria-label="Select Gender" required>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value=" ">Other</option>
                        </select>
                      </div>
                      <div class="col-md-12 mb-2">
                        <label for="phone_number" class="form-label">Phone Number</label>
                        <input type="number" name="phone" class="form-control" id="phone_number" placeholder="Phone Number" aria-label="Phone Number" required/>
                      </div>
                      <div class="col-md-12 mb-2">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" name="address" class="form-control" id="address" placeholder="Address" aria-label="Address" required/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 mb-2">
                        <label for="selectYear" class="form-label">Year</label>
                        <input
                          class="form-control"
                          list="yearDatalist"
                          name="year"
                          id="selectYear"
                          placeholder="Type to select..."
                          required
                        />
                        <datalist id="yearDatalist"> </datalist>
                      </div>
                      <div class="col-md-5 mb-2">
                        <label for="selectMonth" class="form-label">Month</label>
                        <input class="form-control" name="month" list="monthDatalist" id="selectMonth" placeholder="Type to select..." required/>
                        <datalist id="monthDatalist"> </datalist>
                      </div>
                      <div class="col-md-3 mb-2">
                        <label for="selectDate" name ="date" class="form-label" required>Date</label>
                        <input
                          class="form-control"
                          list="dateDatalist"
                          id="selectDate"
                          name="date"
                          placeholder="Type to select..."
                          required
                        />
                        <datalist id="dateDatalist"> </datalist>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-2">
                        <label for="password" class="form-label"
                          >Password</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          placeholder="Password"
                          name = "password"
                          aria-label="Password"
                          required
                        />
                      </div>
                      <div class="col-md-6 mb-2">
                        <label for="confirm_password" class="form-label"
                          >Confirm Password</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="confirm_password"
                          name = "confirm_password"
                          placeholder="Confirm Password"
                          aria-label="Confirm Password"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  {% if error %}
                    <p style="color: red;">{{error}}</p>
                {% endif %}
                  <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>

                <span
                  >Already have an account?
                  <a href="{% url 'login' %}" class="text-black">Login Here</a></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}