 <div class="col-md-4">
        <div class="card">
            <div class="card-header fs-5 py-2">Dashboard</div>
            <div class="list-group list-group-flush accordion accordion-flush" id="sidebarAccordion">
                <div class="list-group-item accordion-item">
                    <h2 class="accordion-header" id="sidebarItemOne">
                        <button class="accordion-button collapsed w-100" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseItemOne" aria-expanded="true"
                            aria-controls="collapseItemOne">
                            Profile
                        </button>
                    </h2>
                    <div id="collapseItemOne" class="accordion-collapse collapse"
                        aria-labelledby="sidebarItemOne" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <a class="list-group-item" href="{% url 'main-profile' user.id %}">View Profile</a>
                                <a class="list-group-item" href="{% url 'profile-update' user.id %}">Edit Profile</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-group-item accordion-item">
                    <h2 class="accordion-header" id="sidebarItemTwo">
                        <button class="accordion-button collapsed w-100" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseItemTwo" aria-expanded="true"
                            aria-controls="collapseItemTwo">
                            Appointments
                        </button>
                    </h2>
                    <div id="collapseItemTwo" class="accordion-collapse collapse"
                        aria-labelledby="sidebarItemTwo" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                {% if user.user_type.name == "Super User" %}
                                    <a class="list-group-item" href="{% url 'superadmin-appointments' %}">View all Appointments</a>
                                    <a class="list-group-item" href="{% url 'create-new' %}">Create New</a>
                                {% elif user.user_type.name == "Staff User" %}
                                    <a class="list-group-item" href="{% url 'staff-appointments' %}">View all Appointments</a>
                                    <a class="list-group-item" href="{% url 'create-new' %}">Create New</a>
                                {% else %}
                                    <a class="list-group-item" href="{% url 'user-appointments' %}">View all Appointments</a>
                                    <a class="list-group-item" href="{% url 'create-new' %}">Create New</a>
                                 {% endif %}
                            </ul>

                        </div>
                    </div>
                </div>
                {% if user.user_type.name == "Super User" %}
                <div class="list-group-item accordion-item">
                    <h2 class="accordion-header" id="sidebarItem">
                        <a href="{% url 'admin-dashboard' %}" class="accordion-body collapsed w-100 fw-normal" style="text-decoration:none;position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s" >Services</a>
                    </h2>
                </div>
                 <div class="list-group-item accordion-item">
                    <h2 class="accordion-header" id="sidebarItemFour">
                        <a class="accordion-body collapsed w-100 fw-normal" style="text-decoration:none;position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s" href="{% url 'staff-list' %}">
                            <!-- Show this only for admins -->
                            Staffs
                        </a>
                    </h2>
                </div>
                 <div class="list-group-item accordion-item">
                    <h2 class="accordion-header" id="sidebarItemThree">
                        <a class="accordion-body collapsed w-100 fw-normal" style="text-decoration:none;position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s" href="{% url 'user-list' %}">
                            <!-- Show this only for admins -->
                            User
                        </a>
                    </h2>
                </div>

                 <div class="list-group-item accordion-item">
                    <h2 class="accordion-header" id="sidebarItemFive">
                        <a class="accordion-body collapsed w-100 fw-normal" style="text-decoration:none;position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s" href="{% url 'inventory' %}">
                            <!-- Show this only for admins -->
                           Inventory
                        </a>
                    </h2>
                </div>

                <div class="list-group-item accordion-item">
                    <h2 class="accordion-header" id="sidebarItemFive">
                        <a class="accordion-body collapsed w-100 fw-normal" style="text-decoration:none;position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s" href="{% url 'contactus-list' %}">
                            <!-- Show this only for admins -->
                           Contact Us
                        </a>
                    </h2>
                </div>
                {% endif %}

                {% if user.user_type.name == "Normal User" %}
                 <div class="list-group-item accordion-item">
                    <h2 class="accordion-header" id="sidebarItemSix">
                        <a class="accordion-body collapsed w-100 fw-normal" style="text-decoration:none;position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s" href="{% url 'make-payment' %}">
                            <!-- Show this only for admins -->
                            Make Payment
                        </a>
                    </h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>